<app-mat-toolbar-dialog title="Creación de Cita">
</app-mat-toolbar-dialog>
<div mat-dialog-content>
  <div class="container-wraper">
    <div fxLayout="row" fxLayout.lt.sm="column" fxLayoutGap="20px">
      <div fxFlex="100" class="justify">
        <p class="font-label">¿Esta seguro que desea agendar la cita para la fecha <strong>{{ data.date }}</strong> con el(a) Profesional <strong>{{ data.name }}?</strong></p>

        <p class="font-label">Los datos de su cita le llegarán al(los) correo(s) electrónico(s).</p>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <div class="button-row">
    <button mat-raised-button
      color="primary" 
      (click)="scheduleAppointment()">Agendar</button>
  </div>
</mat-dialog-actions>
