<div class="container-wraper">
  <div fxLayout="column">
    <div class="box-content-wrapper">
      <div class="box-content-title">
        <div class="title-spacer">
          <strong>Agendamiento {{ professional.profession }} con el(a) Profesional {{ professional.name }} </strong>
        </div>
      </div>
      <div class="expanded-container">
        <div fxLayout="row" fxLayout.lt.sm="column" fxLayoutGap="10px" *ngIf="loadData">
          <div fxFlex="100" class="box-content-calendar">
            <button mat-flat-button color="primary" (click)="backTo()">
              <mat-icon>reply</mat-icon> Regresar
            </button>
          </div>
        </div>
      </div>
      <div class="box-content-body" *ngIf="loadData">
        <full-calendar [options]='calendarOptions'></full-calendar>
      </div>
    </div>
  </div>
</div>
