<div class="container-wraper">
  <div fxLayout="column">
    <div class="box-content-wrapper">
      <div class="box-content-title">
        <div class="box-content-title-spacer"><strong>Agendamiento de Citas (Salud Integral)</strong>
        </div>
      </div>
      <div class="box-content-body">
        <full-calendar [options]='calendarOptions'></full-calendar>

        <!-- <div class='demo-app-main'>
          <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'></full-calendar>
        </div> -->

        <!-- <div class="expanded-container">
          <div fxLayout="row" fxLayout.lt.sm="column" fxLayoutGap="20px">
            <div fxFlex="100">
              <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
