.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc {
  direction: ltr;
  text-align: left; 
  cursor: pointer !important;
}

.title-spacer {
  flex: 1 1 auto;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 16px;
}

// Pruebas

@keyframes ldio-atkmu77c7n4 {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-atkmu77c7n4 div {
  position: absolute;
  animation: ldio-atkmu77c7n4 1s linear infinite;
  width: 117.6px;
  height: 117.6px;
  top: 14.7px;
  left: 14.7px;
  border-radius: 50%;
  box-shadow: 0 9.261000000000001px 0 0 #06628d;
  transform-origin: 58.8px 63.430499999999995px;
}
.loadingio-spinner-eclipse-oejm88tc7os {
  width: 147px;
  height: 147px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-atkmu77c7n4 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-atkmu77c7n4 div { box-sizing: content-box; }



