.center {
  margin: 10px auto !important;
  display: block !important;
}

.profile-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -63px !important;
}

.profile-nophoto {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -109px !important;
  background-color: #eceff1;
  position: sticky;
  z-index: 1;
}

