<div class="container-wraper">
  <div fxLayout="column">
    <div class="box-content-wrapper">
      <div class="box-content-title">
        <div class="box-content-title-spacer"><strong>Agendamiento de Citas (Salud Integral)</strong>
        </div>
      </div>
      <div class="box-content-body">
        <div class="expanded-container">
          <div fxLayout="row" fxLayout.lt.sm="column" fxLayoutGap="20px">
            <div fxFlex="100">
              <mat-accordion>
                <mat-expansion-panel hideToggle *ngFor="let item of professionals">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon class="material-icons">event_available</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ item.profession }}
                    </mat-panel-description>
                  </mat-expansion-panel-header> 
                  <div class="container-card">
                    <div *ngFor="let professional of item.professionals">
                      <mat-card class="profile-card mat-elevation-z4">
                        <div class="profile-background"></div>
                        <mat-card-content>
                          <app-photo [thirdPartyId]="professional.id"></app-photo> 
                          <p style="text-align: center; color: rgba(0, 0, 0, .8)"><b>{{ professional.name }}</b></p>
                          <p style="text-align: center;">{{ professional.profession }}</p>
                          <a mat-button color="primary" class="center" [routerLink]="[ '/app/calendario', professional.id ]">Agendar</a>
                          <!-- <button class="center" mat-raised-button color="primary" route>Agendar</button> -->
                        </mat-card-content>
                        <!-- <mat-card-actions align="center"> -->
                          <!-- <app-button-schedule [professional]=""></app-button-schedule> -->
                          <!-- <button mat-raised-button color="primary" route>Agendar</button> -->
                          <!-- <a [routerLink]="[ '/app/calendario', professional.id ]">Agendar</a> -->
                        <!-- </mat-card-actions> -->
                      </mat-card>
                    </div>
                  </div>
                  <br>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  
  
  
  
