<div class="container-wraper">
  <div fxLayout="column">
    <div class="box-content-wrapper">
      <div class="box-content-title">
        <div class="title-spacer">
          <strong>Agendamiento de Citas (Salud Integral)</strong>
        </div>
      </div>
      <div class="box-content-body">
        <div class="expanded-container">
          <div fxLayout="row" fxLayout.lt.sm="column" fxLayoutGap="20px">
            <div fxFlex="100">
              <mat-accordion>
                <mat-expansion-panel hideToggle *ngFor="let item of professionals">
                  <mat-expansion-panel-header class="">
                    <mat-panel-title class="font-label">
                      <mat-icon class="material-icons">event_available</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description class="font-label">
                      <strong>{{ item.profession }}</strong>
                    </mat-panel-description>
                  </mat-expansion-panel-header> 
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <div fxFlex="20" *ngFor="let professional of item.professionals">
                      <mat-card class="profile-card mat-elevation-z4">
                        <div class="profile-background"></div>
                        <mat-card-content>
                          <app-photo [thirdPartyId]="professional.id"></app-photo> 
                          <p class="professional-name"><b>{{ professional.name }}</b></p>
                          <p class="profession">{{ professional.adminProfession }}</p>
                          <a mat-button color="primary" class="center border-button" (click)="sharedProfessionalInfo(professional)" [routerLink]="[ '/app/calendario', professional.id ]">Agendar</a>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                  <br>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  
  
  
  
